<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * ScandiPWA_StoreGraphQL
 *
 * @category    Scandiweb
 * @package     ScandiPWA_StoreGraphQL
 * @author      Alfreds Genkins <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
                <item name="default_country" xsi:type="string">general/country/default</item>
                <item name="terms_are_enabled" xsi:type="string">checkout/options/enable_agreements</item>
            </argument>
        </arguments>
    </type>
</config>
